@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Elsie:wght@400;900&family=Erica+One&family=Vina+Sans&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: auto;
  height: 100vh;
  display: block;
  font-family: "Elsie", serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Erica One", sans-serif;
  font-family: "Vina Sans", sans-serif;
  background: rgb(255, 255, 255);
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

.main-container {
  position: relative;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-bottom: 2rem;
}
/* Nav-Container */
.nav-container {
  /* position: fixed; */
  width: 100%;
  height: 4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 5px rgb(230, 230, 230);
  background: none;
  backdrop-filter: 50px;
  z-index: 1;
  overflow: hidden;
}

.nav-logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo-png {
  width: 7.8rem;
  height: auto;
  filter: grayscale(100%);
  filter: drop-shadow(1px 30px 10px rgb(211, 124, 18));
  /* filter: grayscale(100%); */
  /* transition: 1s; */
  /* border: 1px solid black;
  border-radius: 50px; */
  /* border-bottom: 5px solid rgb(0, 0, 0); */
}
/* .logo-png:hover {
  cursor: pointer;
  width: 6rem;
  transition: 2s;
} */
/* .logo-name {
  font-family: "Barlow Condensed";
  font-size: 38px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  z-index: -1;
  position: absolute;
  filter: drop-shadow(1px 5px 1px rgb(184, 184, 184));
  left: 18px;
} */
.nav-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: -7rem;
}
.detail-para {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 13px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  transition: 1s;
}
.detail-para:hover {
  cursor: pointer;
  /* background-color: #000000;
  border: 1px solid black; */
  padding: 0.5rem;
  border-radius: 5px;
  color: #000000;
  font-weight: 600;
  transition: 1s;
}
.nav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sign-nav-btn {
  font-family: "Barlow Condensed";
  font-size: 14px;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  color: black;
  background: none;
  backdrop-filter: blur(50px);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 2px 10px rgb(231, 231, 231);
  transition: 1s;
  margin-top: -0.2rem;
}
.sign-nav-btn:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  transition: 1s;
  font-weight: 600;
}
/* <!-- #Login Container --> */
#login-container {
  overflow: hidden;
  width: 100%;
  height: 44.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  /* box-shadow: 0px 1px 0px rgb(192, 192, 192); */
}

.login-card-container {
  width: 29rem;
  height: 37rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid rgb(238, 238, 238);
  box-shadow: 0 1px rgb(240, 240, 240);
  gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  z-index: 1;
  margin-left: -45rem;
  margin-top: -1rem;
}
.fa-user-circle-o {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  margin-left: 180px;
  border: 2px solid #000000;
  background: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7rem;
}
.fa-user-circle-o:hover {
  cursor: pointer;
  color: rgb(211, 124, 18);
  transition: 1s all;
}
.img-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.img-png {
  width: 100%;
  height: 44.3rem;
  object-fit: scale-down;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  filter: drop-shadow(-10px 1px 110px rgb(211, 124, 18));
  border-bottom: 0px solid rgb(224, 224, 224);
  /* box-shadow: 0px 4px 0px rgb(0, 0, 0); */
}
.login-title {
  font-family: "Vina Sans";
  font-size: 50px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-left: 9rem;
  transition: 1s;
}
.login-title:hover {
  cursor: pointer;
  color: rgb(211, 124, 18);
}
.login-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}
.fa-user {
  position: absolute;
  margin-top: -90px;
  margin-left: 10px;
}
.input-name {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 200;
  margin-left: 1.5rem;
}
.name-input {
  width: 25rem;
  height: 2.5rem;
  padding: 1rem 2rem;
  font-size: 10px;
  border: none;
  letter-spacing: 0.1rem;
  color: rgb(211, 124, 18);
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50px;
  background: none;
  backdrop-filter: blur(50px);
}
.fa-lock {
  position: absolute;
  margin-top: 70px;
  margin-left: 10px;
}
.input-password {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 200;
  margin-left: 1.5rem;
}
.pw-input {
  width: 25rem;
  height: 2.5rem;
  padding: 1rem 2rem;
  font-size: 10px;
  letter-spacing: 0.1rem;
  border: none;
  color: rgb(211, 124, 18);
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50px;
  background: none;
  backdrop-filter: blur(50px);
}
.check-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10.5rem;
}
.checkbox-para {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 10px;
  letter-spacing: 0.1rem;
  color: rgb(0, 0, 0);
  font-family: "Barlow Condensed";
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.checkbox-color {
  accent-color: #000000;
}
.forgot-pw-para {
  cursor: pointer;
  font-family: "Barlow Condensed";
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 1rem;
  text-align: center;
  transition: all;
}

.login-btn {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  padding: 0.5rem 9rem;
  border-radius: 50px;
  color: black;
  background: none;
  backdrop-filter: blur(50px);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 5px rgb(0, 0, 0);
  transition: 1s;
}

.sign-up-btn {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  padding: 0.5rem 9rem;
  border-radius: 50px;
  color: black;
  background: none;
  backdrop-filter: blur(50px);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 5px rgb(0, 0, 0);
  transition: 1s;
}

.login-btn:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  transition: 1s;
  font-weight: 600;
}
.sign-up-btn:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  transition: 1s;
  font-weight: 600;
}

.social-medias-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 7rem;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.fb-icon,
.instagram-icon,
.twitter-icon,
.linked-icon {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}
.fa {
  transition: 1s;
}
.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
  color: rgb(211, 124, 18);
}

/* Cosmetics content 03 */
.cosmetics-heading {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cosmetics-title {
  position: absolute;
  /* width: 50rem; */
  font-size: 70px;
  font-family: "Erica One";
  font-weight: 400;
  letter-spacing: 0.5rem;
  z-index: 1;
  margin-bottom: -10rem;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 150px;
  padding: 3rem 6rem;
  color: rgb(0, 0, 0);
  /* filter: drop-shadow(1px 6px 1px rgb(127, 127, 127)); */
  background: none;
  backdrop-filter: blur(50px);
  box-shadow: 0px 5px 50px beige;
  transition: 1s;
}
.cosmetics-title:hover {
  cursor: pointer;
  color: #afafaf;
  transition: 1s;
}
.cosmetics-details-para {
  width: 65rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 13rem;
  padding: 1rem 5rem;
  z-index: 1;
  box-shadow: 0px 5px 50px beige;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 100px;
  gap: 0.5rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
}
.cosmetics-details-head {
  font-size: 16px;
  font-family: "Vina Sans";
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: #000000;
}
.cosmetics-para {
  text-align: center;
  width: 50rem;
  font-size: 12px;
  font-family: "Barlow Condensed";
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 1.2rem;
}
.fa-angle-double-down {
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
  padding: 0.2rem 1.2rem;
}
.fa-angle-double-down:hover {
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}
/*  <!-- card-content-container  --> */
.cards-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cosmetics-cards-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* position: relative; */
  padding: 2rem;
  gap: 2rem;
}

.card-1-content,
.card-2-content,
.card-3-content {
  position: relative;
  width: 25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 25px;
  background: rgb(255, 255, 255);
  /* backdrop-filter: blur(50px); */
  box-shadow: 0px 2px 10px rgb(228, 228, 228);
  z-index: 1;
}
.cosmetics-img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-1-png,
.card-2-png,
.card-3-png {
  object-fit: cover;
  background-color: #e3c9db;
  border-radius: 23px;
  width: 100%;
  height: 30rem;
  transition: 1s;
  transform: scale(1);
  /* border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; */
}
.card-1-png:hover,
.card-2-png:hover,
.card-3-png:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 1s;
}

.card-1-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  gap: 0.7rem;
}
.card-name-heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 15rem; */
}
.card-1-title {
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-align: center;
  color: rgb(40, 40, 40);
}
.fa-heart {
  margin-left: 230px;
}
.fa-heart:hover {
  cursor: pointer;
  color: red;
}
.cards-para {
  width: 25rem;
  font-size: 10px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  letter-spacing: 0.2rem;
  line-height: 1rem;
  text-align: start;
  color: rgb(1, 1, 1);
}

.card-1-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 247, 247);
  gap: 0.5rem;
  border: 2px solid rgb(89, 89, 89);
  padding: 0.1rem 1rem;
  border-radius: 25px;
}
.card-1-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.card-purchase {
  text-align: center;
  text-overflow: none;
  font-size: 18px;
  font-weight: 900;
  font-family: "Barlow Condensed";
  letter-spacing: 0.1rem;
  color: #000000;
  background: none;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem 7rem;
  border-radius: 25px;
  transition: 1s ease;
  margin-bottom: 1.5rem;
}
.card-purchase:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 1s ease;
}

.cards-end-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-view-btn {
  text-align: center;
  text-overflow: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Barlow Condensed";
  letter-spacing: 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.9rem 5.5rem;
  border-radius: 50px;
  transition: 1s ease;
  margin-bottom: 1.5rem;
  box-shadow: 0px 10px 20px rgb(232, 232, 232);
  transition: 1s;
}
.card-view-btn:hover {
  background-color: #fff;
  color: #000000;
  transition: 1s;
}

/* <!-- Box New Items 04 --> */

.new-products {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.products-png {
  position: relative;
  width: 85rem;
  height: 50rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border: 10px solid rgb(244, 244, 244);
}

.new-products-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  margin-bottom: -10rem;
  margin-left: -32rem;
  border: 1px solid rgb(183, 183, 183);
  box-shadow: 0px 1px 0px white;
  padding: 1rem;
  backdrop-filter: blur(2px);
}
.products-head {
  width: 35rem;
  font-size: 60px;
  font-weight: 900;
  font-family: "Barlow Condensed", serif;
  letter-spacing: 0.2rem;
  color: #ffe5fd;
}
.products-para {
  width: 45rem;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow Condensed", serif;
  letter-spacing: 0.2rem;
  line-height: 1.3rem;
  color: #ffe5fd;
}
.products-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
  color: #ffffff;
  padding: 1rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.product-icon-text {
  color: #ffffff;
  font-size: 14px;
  font-family: "Barlow Condensed";
  letter-spacing: 0.2rem;
}
.products-btn {
  text-align: center;
  text-overflow: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Barlow Condensed";
  letter-spacing: 0.2rem;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.8rem 5.5rem;
  border-radius: 50px;
  transition: 1s ease;
  margin-bottom: 1.5rem;
  transition: 1s;
}
.products-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 1s;
}
/* Price-details */

.price-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.price-details-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.price-title {
  font-size: 66px;
  font-weight: 900;
  font-family: "Barlow Condensed", serif;
  letter-spacing: 0.2rem;
  color: #000000;
}
.price-head-para {
  width: 45rem;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  color: #000000;
  line-height: 1.2rem;
  text-align: center;
}
.price-change-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.yearly-btn {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition: 1s;
}
.monthly-btn {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition: 1s;
}
.yearly-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 1s;
  transform: scale(1.1);
}
.monthly-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 1s;
  transform: scale(1.1);
}
.card-details-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.price-details-card-1,
.price-details-card-2,
.price-details-card-3 {
  width: 22rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #ffffff;
  border: 2px solid rgb(186, 186, 186);
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0px 4px 2px rgb(214, 214, 214);
  margin-top: 2rem;
  transform: scale(1);
  margin-bottom: 3rem;
  transition: 1s;
}
.price-details-card-2 {
  width: 25rem;
  height: 40rem;
}
.price-card-1-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.card-1-line-1,
.card-2-line-1,
.card-3-line-1 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
}
.card-1-amount,
.card-2-amount,
.card-3-amount {
  font-size: 50px;
  font-weight: 400;
  font-family: "Vina Sans", sans-serif;
  color: rgb(46, 46, 46);
}
.card-1-line-para,
.card-2-line-para,
.card-3-line-para {
  font-size: 12px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  color: rgb(60, 60, 60);
}

.price-card-1-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.price-card-1-content {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 2.3rem;
  color: #393939;
}
.close-para {
  color: #9c9c9c;
}
.fa-close {
  color: #9c9c9c;
}

.card-1-bottom-btn,
.card-1-bottom-btn,
.card-1-bottom-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-1-plan-btn,
.card-2-plan-btn,
.card-3-plan-btn {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0.8rem 5.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  transition: 1s;
}
.card-bottom-para {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  color: #afafaf;
  margin-top: 1rem;
}

.card-1-plan-btn {
  background-color: rgb(255, 236, 199);
  color: #000000;
  transition: 1s;
}
.card-2-plan-btn {
  background-color: rgb(198, 255, 198);
  color: #000000;
  transition: 1s;
}

.card-3-plan-btn {
  background-color: rgb(187, 187, 255);
  color: #000000;
  transition: 1s;
}
.card-1-plan-btn:hover {
  background-color: rgb(219, 153, 22);
  color: #ffffff;
  transition: 1s;
}
.card-2-plan-btn:hover {
  background-color: rgb(19, 203, 19);
  color: #ffffff;
  transition: 1s;
}

.card-3-plan-btn:hover {
  background-color: rgb(48, 48, 247);
  color: #ffffff;
  transition: 1s;
}

.price-details-card-1:hover,
.price-details-card-2:hover,
.price-details-card-3:hover {
  cursor: pointer;
  width: 22rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 2px rgb(214, 214, 214);
  margin-top: 2rem;
  transform: scale(1.2);
  z-index: 1;
  transition: 1s;
}
.price-details-card-1:hover {
  background-color: rgb(255, 249, 237);
  color: #000000;
  font-size: 14px;
  transition: 1s;
}
.price-details-card-2:hover {
  background-color: rgb(230, 255, 230);
  color: #000000;
  transition: 1s;
}
.price-details-card-3:hover {
  background-color: rgb(227, 227, 255);
  color: #000000;
  font-size: 14px;
  transition: 1s;
}
