@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Elsie:wght@400;900&family=Erica+One&family=Vina+Sans&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  display: block;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Erica One", sans-serif;
  font-family: "Elsie", serif;
  font-family: "Vina Sans", sans-serif;
  background: rgb(255, 255, 255);
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

.main-container {
  position: relative;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-bottom: 2rem;
}
/* Nav-Container */
.nav-container {
  /* position: fixed; */
  width: 100%;
  height: 4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 5px rgb(230, 230, 230);
  background: none;
  backdrop-filter: 50px;
  z-index: 1;
  overflow: hidden;
}

.nav-logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo-png {
  width: 7.8rem;
  height: auto;
  filter: grayscale(100%);
  filter: drop-shadow(1px 30px 10px rgb(211, 124, 18));
  /* filter: grayscale(100%); */
  /* transition: 1s; */
  /* border: 1px solid black;
  border-radius: 50px; */
  /* border-bottom: 5px solid rgb(0, 0, 0); */
}
/* .logo-png:hover {
  cursor: pointer;
  width: 6rem;
  transition: 2s;
} */
/* .logo-name {
  font-family: "Barlow Condensed";
  font-size: 38px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  z-index: -1;
  position: absolute;
  filter: drop-shadow(1px 5px 1px rgb(184, 184, 184));
  left: 18px;
} */
.nav-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: -7rem;
}
.detail-para {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 13px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  transition: 1s;
}
.detail-para:hover {
  cursor: pointer;
  /* background-color: #000000;
  border: 1px solid black; */
  padding: 0.5rem;
  border-radius: 5px;
  color: #000000;
  font-weight: 600;
  transition: 1s;
}
.nav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sign-nav-btn {
  font-family: "Barlow Condensed";
  font-size: 14px;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  color: black;
  background: none;
  backdrop-filter: blur(50px);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 2px 10px rgb(231, 231, 231);
  transition: 1s;
  margin-top: -0.2rem;
}
.sign-nav-btn:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  transition: 1s;
  font-weight: 600;
}
/* <!-- #Login Container --> */
#login-container {
  overflow: hidden;
  width: 100%;
  height: 44.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  /* box-shadow: 0px 1px 0px rgb(192, 192, 192); */
}

.login-card-container {
  width: 29rem;
  height: 37rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid rgb(205, 205, 205);
  box-shadow: 0 2px rgb(240, 240, 240);
  gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  z-index: 1;
  margin-left: -45rem;
  margin-top: -1rem;
}
.fa-user-circle-o {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  margin-left: 180px;
  border: 2px solid #000000;
  background: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7rem;
}
.fa-user-circle-o:hover {
  cursor: pointer;
  color: rgb(211, 124, 18);
  transition: 1s all;
}

.img-png {
  width: 100%;
  height: 44.3rem;
  object-fit: scale-down;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  filter: drop-shadow(-10px 1px 110px rgb(211, 124, 18));
  border-bottom: 0px solid rgb(224, 224, 224);
  /* box-shadow: 0px 4px 0px rgb(0, 0, 0); */
}
.login-title {
  font-family: "Vina Sans";
  font-size: 50px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-left: 9rem;
  transition: 1s;
}
.login-title:hover {
  cursor: pointer;
  color: rgb(211, 124, 18);
}
.login-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}
.fa-user {
  position: absolute;
  margin-top: -90px;
  margin-left: 10px;
}
.input-name {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 200;
  margin-left: 1.5rem;
}
.name-input {
  width: 25rem;
  height: 2.5rem;
  padding: 1rem 2rem;
  font-size: 10px;
  border: none;
  letter-spacing: 0.1rem;
  color: rgb(211, 124, 18);
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50px;
  background: none;
  backdrop-filter: blur(50px);
}
.fa-lock {
  position: absolute;
  margin-top: 70px;
  margin-left: 10px;
}
.input-password {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: rgb(0, 0, 0);
  font-weight: 200;
  margin-left: 1.5rem;
}
.pw-input {
  width: 25rem;
  height: 2.5rem;
  padding: 1rem 2rem;
  font-size: 10px;
  letter-spacing: 0.1rem;
  border: none;
  color: rgb(211, 124, 18);
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50px;
  background: none;
  backdrop-filter: blur(50px);
}
.check-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10.5rem;
}
.checkbox-para {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 10px;
  letter-spacing: 0.1rem;
  color: rgb(0, 0, 0);
  font-family: "Barlow Condensed";
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.checkbox-color {
  accent-color: #000000;
}
.forgot-pw-para {
  cursor: pointer;
  font-family: "Barlow Condensed";
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 1rem;
  text-align: center;
  transition: all;
}

.login-btn {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  padding: 0.5rem 9rem;
  border-radius: 50px;
  color: black;
  background: none;
  backdrop-filter: blur(50px);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 5px rgb(0, 0, 0);
  transition: 1s;
}

.sign-up-btn {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  padding: 0.5rem 9rem;
  border-radius: 50px;
  color: black;
  background: none;
  backdrop-filter: blur(50px);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 5px rgb(0, 0, 0);
  transition: 1s;
}

.login-btn:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  transition: 1s;
  font-weight: 600;
}
.sign-up-btn:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  transition: 1s;
  font-weight: 600;
}

.social-medias-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 7rem;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.fb-icon,
.instagram-icon,
.twitter-icon,
.linked-icon {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}
.fa {
  transition: 1s;
}
.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
  color: rgb(211, 124, 18);
}

/* Cosmetics content 03 */
.cosmetics-heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cosmetics-title {
  position: absolute;
  /* width: 50rem; */
  font-size: 70px;
  font-family: "Erica One";
  font-weight: 400;
  letter-spacing: 0.5rem;
  z-index: 1;
  margin-bottom: -10rem;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 150px;
  padding: 3rem 6rem;
  color: rgb(0, 0, 0);
  /* filter: drop-shadow(1px 6px 1px rgb(127, 127, 127)); */
  background: none;
  backdrop-filter: blur(50px);
  box-shadow: 0px 5px 50px beige;
}
.cosmetics-details-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cosmetics-para {
  text-align: center;
  width: 50rem;
  font-size: 12px;
  font-family: "Barlow Condensed";
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 1.2rem;
  margin-top: 13rem;
  border: 2px solid rgb(237, 237, 237);
  padding: 1rem 2rem;
  border-radius: 50px;
  box-shadow: 0px 5px 50px beige;
}
